* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 5 - 20px);
  margin-top: 30px;
  margin-left: 15px;
  padding: 15px;
  border: 1px solid black;
  background-color: rgb(1, 22, 39);
  border-radius: 5px;
  color: white;

  h2, h3 {
    margin-bottom: 10px;
  }
}
